<%= form_with(model: [@meeting, note], class: "space-y-4") do |form| %>
  <% if note.errors.any? %>
    <div class="alert alert-error">
      <div>
        <h2 class="font-bold"><%= pluralize(note.errors.count, "error") %>
          prohibited this note from being saved:</h2>
        <ul class="list-disc ml-6 mt-2">
          <% note.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-control">
    <%= form.label :content, class: "label" %>
    <%= form.text_area :content,
                       rows: 8,
                       class: "textarea textarea-bordered w-full #{note.errors[:content].any? ? "textarea-error" : ""}" %>
  </div>

  <div>
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
