<turbo-frame id="rubric_evaluation_form">
  <%= form_with model: @dimension_score, url: dimension_scores_path, method: :post do |f| %>
    <%= f.hidden_field :dimension_id, value: @dimension_id %>
    <%= f.hidden_field :rubric_evaluation_id, value: @evaluation_id %>

    <div class="py-4">
      <label class="label">
        <span class="label-text">Score</span>
      </label>
      <%= f.select :score,
               DimensionScore.format_for_select,
               { include_blank: false, prompt: "Select level" },
               class: "select select-sm" %>

      <div>
        <label class="label">
          <span class="label-text">Notes</span>
        </label>
        <%= f.text_area :notes,
                    class: "textarea textarea-bordered w-full",
                    placeholder: "Enter notes...",
                    rows: 6 %>
      </div>
    </div>

    <div class="modal-action">
      <%= f.submit "Save", class: "btn btn-primary" %>
      <button
        type="button"
        class="btn"
        data-action="click->rubric-evaluation#closeModal"
      >
        Cancel
      </button>
    </div>
  <% end %>
</turbo-frame>
