<% content_for :title, "Rubrics" %>

<div class="w-full">
  <%= @rubric.name %>
</div>

<ul>
  <% @rubric.categories.each do |category| %>
  <li>
    <%= category.name %>
    <ul>
  <% category.dimensions.each do |dimension| %>
    <li>
      <%= dimension.name %>
      <ul>
      <%= dimension.expectations.each do |expectation| %>

<li><%= expectation.description %>. Job Title: <%= expectation.job_title.name %></li>
  <% end %>
      </ul>
    </li>
    <br >
  <% end %>
    </ul>
  </li>
  <% end %>
</ul>
