<% content_for :title, "Editing memo" %>

<%= javascript_include_tag "memos/edit",
"data-turbo-track": "reload",
type: "module" %>

<%= button_to "Destroy",
@memo,
method: :delete,
class: "btn btn-error btn-xs",
data: {
  turbo_confirm: "Are you sure?",
} %>

<div class="w-full flex flex-col items-center">

  <%= form_with(model: @memo, class: "contents") do |form| %>
    <% if @memo.errors.any? %>
      <div
        id="error_explanation"
        class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3"
      >
        <h2><%= pluralize(@memo.errors.count, "error") %>
          prohibited this memo from being saved:</h2>

        <ul class="list-disc ml-6">
          <% @memo.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="max-w-lg w-full">
      <div class="my-5">
        <%= form.text_field :title,
                        type: "text",
                        id: "memo_title",
                        placeholder: "Title...",
                        autofocus: true,
                        class: "input mb-4 w-full" %>
        <%= form.hidden_field :content, id: "memo_content" %>
        <div
          id="tiptap-editor"
          class="<%= @memo.errors[:content].any? ? 'tiptap-error' : '' %>"
          data-has-errors="<%= @memo.errors[:content].any? %>"
          data-memo-id="<%= @memo.id %>"
          data-initial-state="<%= @initial_yjs_state || '' %>"
        >
        </div>
      </div>
    </div>

    <div class="inline">
      <%= form.submit class: "btn btn-sm" %>
    </div>

  <% end %>

</div>
