<% content_for :title, "Memos" %>

<div
  class="w-full"
  data-controller="keyboard-shortcuts"
  data-keyboard-shortcuts-page-value="memos-index"
>
  <% if notice.present? %>
    <p
      class="
        py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block
      "
      id="notice"
    ><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center mb-4">
    <h1 class="font-bold text-3xl">Your Memos</h1>
    <%= link_to "New memo", new_memo_path, class: "btn btn-sm btn-primary" %>
  </div>

  <div id="memos" class="overflow-x-auto">
    <% if @memos.any? %>
      <table class="table" data-controller="memos-table">
        <thead>
          <tr>
            <th></th>
            <th>Title</th>
            <th>Created</th>
            <th>Last Updated</th>
            <th>Owner</th>
            <th>Editors</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @memos.each_with_index do |memo, index| %>
            <tr
              tabindex="0"
              data-index="<%= index + 1 %>"
              data-url="<%= edit_memo_path(memo) %>"
            >
              <th><%= index + 1 %></th>
              <td><a href="<%= memo_path(memo) %>" class="link"><%= memo.title %></a></td>
              <td><%= time_ago_in_words(memo.created_at) %>
                ago</td>
              <td><%= time_ago_in_words(memo.updated_at) %>
                ago</td>
              <td><%= memo.owner.derive_name.full_name %></td>
              <td>

                <% memo.editors.each do |editor| %>
                  <div
                    tabindex="0"
                    role="button"
                    class="btn m-1 btn-circle btn-sm tooltip tooltip-top"
                    data-tip="<%= editor.derive_name.full_name %>"
                  >
                    <%= editor.derive_name.initials %>
                  </div>
                <% end %>

              </td>
              <td>
                <div class="flex space-x-2">

                  <%= link_to "Edit", edit_memo_path(memo), class: "btn btn-info btn-xs" %>

                  <%= link_to memo, class: "btn btn-info btn-xs" do %>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      class="size-6"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M4.5 12a7.5 7.5 0 0 0 15 0m-15 0a7.5 7.5 0 1 1 15 0m-15 0H3m16.5 0H21m-1.5 0H12m-8.457 3.077 1.41-.513m14.095-5.13 1.41-.513M5.106 17.785l1.15-.964m11.49-9.642 1.149-.964M7.501 19.795l.75-1.3m7.5-12.99.75-1.3m-6.063 16.658.26-1.477m2.605-14.772.26-1.477m0 17.726-.26-1.477M10.698 4.614l-.26-1.477M16.5 19.794l-.75-1.299M7.5 4.205 12 12m6.894 5.785-1.149-.964M6.256 7.178l-1.15-.964m15.352 8.864-1.41-.513M4.954 9.435l-1.41-.514M12.002 12l-3.75 6.495"
                      />
                    </svg>
                  <% end %>

                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <p class="text-center my-10">No memos found.</p>
    <% end %>
  </div>
</div>
