<%= form_with url: rodauth.login_path, method: :post, data: { turbo: false }, class: "w-full max-w-sm space-y-4" do |form| %>
  <% if rodauth.skip_login_field_on_login? %>
    <div class="form-control">
      <%= form.email_field rodauth.login_param,
                           value: params[rodauth.login_param],
                           id: "login",
                           readonly: true,
                           class: "input input-bordered w-full" %>
    </div>
  <% else %>
    <div class="form-control">
      <%= form.email_field rodauth.login_param,
                           value: params[rodauth.login_param],
                           id: "login",
                           autocomplete: rodauth.login_field_autocomplete_value,
                           placeholder: "Work email",
                           required: true,
                           class: "input input-bordered w-full #{rodauth.field_error(rodauth.login_param) ? "input-error" : ""}",
                           aria: (if rodauth.field_error(rodauth.login_param)
                             { invalid: true, describedby: "login_error_message" }
                           end) %>
      <%= if rodauth.field_error(rodauth.login_param)
            content_tag(
              :span,
              rodauth.field_error(rodauth.login_param),
              class: "label-text-alt text-error",
              id: "login_error_message",
            )
          end %>
    </div>
  <% end %>

  <% unless rodauth.skip_password_field_on_login? %>
    <div class="form-control">
      <%= form.password_field rodauth.password_param,
                              value: "",
                              id: "password",
                              placeholder: "Password",
                              autocomplete: rodauth.password_field_autocomplete_value,
                              required: true,
                              class: "input input-bordered w-full #{rodauth.field_error(rodauth.password_param) ? "input-error" : ""}",
                              aria: (if rodauth.field_error(rodauth.password_param)
                                {
                                  invalid: true,
                                  describedby: "password_error_message",
                                }
                              end) %>
      <%= if rodauth.field_error(rodauth.password_param)
            content_tag(
              :span,
              rodauth.field_error(rodauth.password_param),
              class: "label-text-alt text-error",
              id: "password_error_message",
            )
          end %>
    </div>
  <% end %>

  <%= form.submit rodauth.login_button, class: "btn btn-primary w-full" %>
<% end %>
