<%= form_with url: rodauth.change_password_path, method: :post, data: { turbo: false }, class: "w-full max-w-sm space-y-4" do |form| %>
  <% if rodauth.change_password_requires_password? %>
    <div class="form-control">
      <%= form.label "password", rodauth.password_label, class: "label" %>
      <%= form.password_field rodauth.password_param,
                              value: "",
                              id: "password",
                              autocomplete: rodauth.password_field_autocomplete_value,
                              required: true,
                              class: "input input-bordered w-full #{rodauth.field_error(rodauth.password_param) ? "input-error" : ""}",
                              aria: (if rodauth.field_error(rodauth.password_param)
                                {
                                  invalid: true,
                                  describedby: "password_error_message",
                                }
                              end) %>
      <%= if rodauth.field_error(rodauth.password_param)
            content_tag(
              :span,
              rodauth.field_error(rodauth.password_param),
              class: "label-text-alt text-error",
              id: "password_error_message",
            )
          end %>
    </div>
  <% end %>

  <div class="form-control">
    <%= form.label "new-password", rodauth.new_password_label, class: "label" %>
    <%= form.password_field rodauth.new_password_param,
                            value: "",
                            id: "new-password",
                            autocomplete: "new-password",
                            required: true,
                            class: "input input-bordered w-full #{rodauth.field_error(rodauth.new_password_param) ? "input-error" : ""}",
                            aria: (if rodauth.field_error(rodauth.new_password_param)
                              {
                                invalid: true,
                                describedby: "new-password_error_message",
                              }
                            end) %>
    <%= if rodauth.field_error(rodauth.new_password_param)
          content_tag(
            :span,
            rodauth.field_error(rodauth.new_password_param),
            class: "label-text-alt text-error",
            id: "new-password_error_message",
          )
        end %>
  </div>

  <% if rodauth.require_password_confirmation? %>
    <div class="form-control">
      <%= form.label "password-confirm", rodauth.password_confirm_label, class: "label" %>
      <%= form.password_field rodauth.password_confirm_param,
                              value: "",
                              id: "password-confirm",
                              autocomplete: "new-password",
                              required: true,
                              class: "input input-bordered w-full #{rodauth.field_error(rodauth.password_confirm_param) ? "input-error" : ""}",
                              aria: (if rodauth.field_error(rodauth.password_confirm_param)
                                {
                                  invalid: true,
                                  describedby: "password-confirm_error_message",
                                }
                              end) %>
      <%= if rodauth.field_error(rodauth.password_confirm_param)
            content_tag(
              :span,
              rodauth.field_error(rodauth.password_confirm_param),
              class: "label-text-alt text-error",
              id: "password-confirm_error_message",
            )
          end %>
    </div>
  <% end %>

  <%= form.submit rodauth.change_password_button, class: "btn btn-primary w-full" %>
<% end %>
